<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 扫描service包下所有使用注解的类型 -->
    <context:component-scan base-package="com.swsadWeb.service"/>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库的连接池 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 2. 配置事务属性 by AspectJ-->
    <!--<tx:advice>元素声明事务通知-->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--&lt;!&ndash; 根据方法名指定事务的属性 &ndash;&gt;-->
            <!--<tx:method name="*"/>-->
            <!--&lt;!&ndash;propagation配置事务传播行为&ndash;&gt;-->
            <!--<tx:method name="purchase" propagation="REQUIRES_NEW"/>-->
            <!--&lt;!&ndash;isolation配置事务的隔离级别&ndash;&gt;-->
            <!--<tx:method name="update*" isolation="SERIALIZABLE"/>-->
            <!--&lt;!&ndash;rollback-for配置事务遇到异常必须回滚，no-rollback-for配置事务遇到异常必须不能回滚&ndash;&gt;-->
            <!--<tx:method name="add*" rollback-for="java.io.IOException" no-rollback-for="com.dmsd.spring.tx.BookStockException"/>-->
            <!--&lt;!&ndash;read-only配置事务只读属性&ndash;&gt;-->
            <!--<tx:method name="find*" read-only="true"/>-->
            <!--&lt;!&ndash;timeout配置事务的超时属性&ndash;&gt;-->
            <!--<tx:method name="get*" timeout="3"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!-- 3. 配置事务切入点, 以及把事务切入点和事务属性关联起来 -->
    <!--<aop:config>-->
        <!--<aop:pointcut expression="execution(* com.swsadWeb.dao.*.*(..))"-->
                      <!--id="txPointCut"/>-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>-->
    <!--</aop:config>-->



    <!-- 配置基于注解的声明式事务
        默认使用注解来管理事务行为
     -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!--开启aspectj代理，并暴露aop代理到ThreadLocal-->
    <!--<aop:aspectj-autoproxy expose-proxy="true"/>-->


</beans>