<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swsadWeb.dao.CommentDao">

    <!-- create comment -->
    <insert id="insertComment" parameterType="com.swsadWeb.entity.Comment">
        INSERT INTO
            comments(groupid, username, comment_detail,comment_time)
        VALUES(#{groupid}, #{username}, #{commentDetail}, #{commentTime})
        <selectKey order="AFTER" resultType="Long" keyColumn="id" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- delete comment -->
    <delete id="deleteComment" parameterType="Long">
        DELETE FROM comments WHERE id = #{id}
    </delete>


    <!-- get all comments by username -->
    <select id="getCommentByUsername" parameterType="String" resultType="com.swsadWeb.entity.Comment">
        SELECT * FROM comments WHERE username = #{username}
    </select>

    <!-- get all comments by groupid -->
    <select id="getCommentByGroupId" parameterType="String" resultType="com.swsadWeb.entity.Comment">
        SELECT * FROM comments WHERE groupid = #{groupid}
    </select>

</mapper>
