<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swsadWeb.dao.TargetLimitDao">

    <insert id="insertTargetLimit" parameterType="com.swsadWeb.entity.TargetLimit">
        INSERT INTO target_limit (sex, grade, credit_min, group_id)
        VALUES (#{sex}, #{grade}, #{creditMin}, #{groupId});

        <selectKey order="AFTER" resultType="Long" keyColumn="id" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateByTargetLimitId" parameterType="com.swsadWeb.entity.TargetLimit">
        UPDATE target_limit
        <set>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            <if test="creditMin != null">
                credit_min = #{creditMin},
            </if>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
        </set>
        WHERE id = #{id};
    </update>


</mapper>